﻿@model IEnumerable<A2bigschool.Models.Course>
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <ul>
        @foreach (var course in Model)
        {
            <li>
                @course.DateTime-@course.Lecturer.Name
            </li>
        }
    </ul>
</div>
